In [9]:
import hashlib as hl 

#UTF-8 encoded version
secret = "gore_bord@gmail.com".encode()
secret2 = "gorde_bord1@gmail.com".encode()
print(secret)


secret_hash_same = hl.sha256("gore_bord@gmail.com".encode()).hexdigest()
secret_hash_2 = hl.sha256(secret2).hexdigest()

print(secret_hash_same)
print(secret_hash_2)

b'gore_bord@gmail.com'
7d6d9a849ccc7f5febe065ebe3b4f39558fc96ef865e02333dd7b7426ff0c057
ef9c1b84a6e604bb53a88bd51e4ea166f740a104b847a7b0eae6a2a45a5f0b60

## Example med pandas

In [11]:
import pandas as pd 

path = "./Data/BankChurners.csv"
bank = pd.read_csv(path)

bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

In [12]:
bank["CLIENTNUM"] = bank["CLIENTNUM"].astype(str)
bank["CLIENTNUM"].head()

0    768805383
1    818770008
2    713982108
3    769911858
4    709106358
Name: CLIENTNUM, dtype: object

In [15]:
hash_series = bank["CLIENTNUM"].apply(lambda x: hl.sha256(x.encode()).hexdigest())
hash_series.head()
bank.insert(1, "Hashed clientnumbers", hash_series)
bank.head()

,CLIENTNUM,Hashed clientnumbers,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,c9bbef56f9d8292cb3cfa8ae91f9b9167390e6e4b514d5...,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,7996e2340d70489252370a5df035ec99381c8344cc3511...,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,6fb53dbc743724e086243b5bc288df62b4a6dc1b8bde92...,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,f86b86a1047317685f29c399059b199858685faf5ec6a8...,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,0d239470b0cb57e110cf60bc3865344ee2cdced6e3acdc...,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998